<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kosmo.jobkorea.adm.dao.AdmUserDAO">
	
	<!-- 회원 목록 -->
	<select id="selectUserList" resultType="kr.kosmo.jobkorea.adm.dto.AdmUserDTO">
		/*kr.kosmo.jobkorea.adm.dao.AdmUserDAO.selectUserList*/
		
		SELECT @rownum:=@rownum+1 as row_num,	
		       ui.name as name,
			   uc.title as title,
			   ui.area as area,
			   uc.addtec as addtec
		  FROM tb_userinfo ui join tb_user_career uc
		    on ui.loginId = uc.loginId
		 WHERE (@rownum:=0)=0
		 <if test ="area != null and area != ''">
		   AND ui.area = #{area}
		 </if>  
		 ORDER BY ui.reg_date DESC  
		 LIMIT #{pageIndex}, #{pageSize}  
		   
		
			<!-- 	
				SELECT  pi.project_name
				       ,ui.area
				       ,pi.work_type
				       ,pi.industry_type
				       ,pi.reg_date
				       ,pi.receive_to_date
				       ,pi.regId
				  FROM 	tb_userinfo ui join tb_user_skill us
                  on ui.loginID = us.loginID
                  join tb_project_skill ps 
                  on us.skill_code = ps.skill_code
                  join tb_project_info pi
                  on ps.projectId = pi.projectId
			    	WHERE	ui.area = #{area}
					AND  pi.work_type = #{work_type}
					AND  pi.industry_type = #{industry_type} -->
  	</select>
  	
	
  	

	<!-- 회원 목록 -->
	<select id="countListPerson" resultType="int">
        SELECT count(*) as cnt
		  FROM tb_userinfo ui join tb_user_career uc
		    on ui.loginId = uc.loginId
		 WHERE 1 = 1
		 <if test ="area != null and area != ''">
		   AND ui.area = #{area}
		 </if>  
	</select>
	
	

</mapper>